<app-header></app-header>
<form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
    <div>
      <label for="userName">User Name:</label>
      <input type="text" id="userName" formControlName="review_user" required />
    </div>
  
    <div>
      <label for="rating">Rating:</label>
      <select id="rating" formControlName="rating" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  
    <div>
      <label for="comment">Comment:</label>
      <textarea id="comment" formControlName="description" required></textarea>
    </div>
  
    <button type="submit" [disabled]="reviewForm.invalid">Submit Review</button>
</form>