<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<app-header></app-header>
<h1>Book List</h1>
<h2>Select any book for more information</h2>
<br>
<table>
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Price</th>
    </thead>
<tbody>
    <tr *ngFor="let book of books" (click)="nextPage(book.id)">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{book.price_currency}} {{book.price}}</td>
    </tr>
</tbody>
</table>
